body {
  width: 100%;
  height: 460px;

  #playground {
    width: 200px;
    height: 460px;
    border: black 1px solid;
    margin: auto;

    .small-block {
      width: 18px;
      display: inline-block;
      height: 18px;
      border: lightgray 1px solid;
      margin: 0px;
      color: white;
    }

    .small-block-non-border {
      width: 18px;
      display: inline-block;
      height: 18px;
      border: white 1px solid;
      margin: 0px;
      color: white;
    }
  }
}