body {
  width: 99%;
  height: 460px;

  #main {
    width: 420px;
    height: 460px;
    display: flex;
    margin: auto;
    #playground {
      width: 200px;
      height: 460px;
      border: black 1px solid;


      .small-block {
        width: 20px;
        display: inline-block;
        height: 20px;
        //border: lightgray 1px solid;
        margin: 0px;
        color: white;
      }

      .small-block-non-border {
        width: 18px;
        display: inline-block;
        height: 18px;
        border: white 1px solid;
        margin: 0px;
        color: white;
      }

    }
    #dialog{
      width: 200px;
      height: 200px;
      padding-top: 100px;
      display: none;
    }
    #win_dialog{
      width: 200px;
      height: 200px;
      padding-top: 100px;
      display: none;
    }
    #mainMenu {
      width: 200px;
      height: 460px;
      border: black 1px solid;
      z-index: 1;
      .levels{
        margin: 100px 0 0 30%;

      }
    }
  }
  #rightPanel{
    width: 100px;
    height: 200px;
    border: black 1px solid;
    text-align: center;
    .image_panel{
      width: 100%;
      height: 100px;
      display: flex;
      border: black 1px solid;
      align-items: center;
      justify-content: center;
      img{
        width: 50px;
        height: 100px;
      }
    }
    .counting{
      display: none;
    }

  }
  .banner{
    width: 198px;
    margin: 1px 1px 0 1px;
    height: 59px;
    background: white;
    z-index: 10;
    position: absolute;
    .image-banner{
      width: 200px;
      height: 60px;
    }
  }
  .banner-bottom{
    width: 198px;
    margin: 480px 1px 0 1px;
    height: 59px;
    background: white;
    z-index: 10;
    position: absolute;
    .image-banner{
      width: 200px;
      height: 60px;
    }
  }
  button{
    width: 85px;
    height: 35px;
    background: none;
    border: black solid 1px;
    cursor: pointer;
  }
}